/*// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.chess_square {
	height: 50px;
	width: 50px;
	padding: 0px;
	margin-top: -5px;
	display: inline-block;
	border: 1px solid black;
}

.square_color1 {
	background-color: white;
}

.square_color2 {
	background-color: green;
}

.chess_piece {
	width:50px;
	height:50px;
}

#chess_board {
	width: 425px;
	height: 425px;
}

.highlight_square {
	background-color: yellow;
}