/*// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.chess_square {
	height: 50px;
	width: 50px;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	border: 1px solid black;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}