<h1>Chess</h1>

<div id="chess_board">


</div>

<br><br>

<img class="chess_piece" src="assets/black_king.png" alt="image">
<img class="chess_piece" src="assets/white_king.png" alt="image">

<img class="chess_piece" src="assets/black_rook.png" alt="image">
<img class="chess_piece" src="assets/white_rook.png" alt="image">

<img class="chess_piece" src="assets/black_bishop.png" alt="image">
<img class="chess_piece" src="assets/white_bishop.png" alt="image">

<img class="chess_piece" src="assets/black_knight.png" alt="image">
<img class="chess_piece" src="assets/white_knight.png" alt="image">

<img class="chess_piece" src="assets/black_pawn.png" alt="image">
<img class="chess_piece" src="assets/white_pawn.png" alt="image">